<link rel="stylesheet" href="<%= assetPath('css/blog.css') %>">


<div id="container">
    <div class="container__header">
        
        <% if(locals.user) {%>
            <p><%= locals.user.name %></p>
            <a href="/blog/delete/<%= blog.id %>">Delete blog</a>
        <% } else{%>
            <p><%= blog.name %></p>
        <% } %>   
    </div>
    <p><%= blog.title %></p>
    <div class="blog">
        <%= blog.text %>
    </div>
    <div class="container__footer">
        <% if(locals.user) {%>
            <a href="/blog/update-blog/<%= blog.id %>">Update blog</a>
        <% } %> 
    </div>
    
</div>